# =========================================================================
# SYSTEM ENVIRONMENT PROFILE
# =========================================================================
APP_PROFILE=prod

# =========================================================================
# SECURE IDENTITY KEYS & THIRD-PARTY SERVICES
# =========================================================================
FIREBASE_PROJECT_ID=your-firebase-project-id-here
INTERNAL_JWT_SECRET=your_super_secure_internal_gateway_jwt_secret_here_at_least_32_bytes
LLM_PROVIDER=gemini #or openai
GEMINI_API_KEY=AIzaSyYourPrivateGeminiApiKeyGoesHere
GEMINI_API_URL=gemini_api_url

# =========================================================================
# ISOLATED POSTGRESQL DATABASE TIERS
# =========================================================================
USER_DB_NAME=user_db
USER_DB_USER=user_admin
USER_DB_PASSWORD=your_super_secure_user_db_password_here

CROCHET_DB_NAME=crochet_db
CROCHET_DB_USER=crochet_admin
CROCHET_DB_PASSWORD=your_super_secure_crochet_db_password_here

AI_DB_NAME=ai_db
AI_DB_USER=ai_admin
AI_DB_PASSWORD=your_super_secure_ai_db_password_here

DB_ENCRYPTION_SECRET=your_super_secure_db_encryption_secret_here

# =========================================================================
# API GATEWAY & MICROSERVICE PORT BINDINGS (HOST NETWORK MAPS)
# =========================================================================
GATEWAY_PORT=3000

# =========================================================================
# GRAFANA CLOUD LIVE, OTLP  
# =========================================================================
GRAFANA_OTLP_BASE64_TOKEN=yourgraphanatoken
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway-prod-your-region.grafana.net/otlp
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic YourGeneratedBase64StringFromGrafanaCloudHere
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf